@import './base.css';

html {
  background-color: white;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-style: initial;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}